<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n" +
                "<link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n" +
                "<link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap\" rel=\"stylesheet\">\n" +
                "\n" +
                "\n" +
                "<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n" +
                "<link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n" +
                "<link href=\"https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap\" rel=\"stylesheet\"> \n" +
                "\n" +
                "<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n" +
                "<link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n" +
                "<link href=\"https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@900&display=swap\" rel=\"stylesheet\"> \n" +
                "<style>\n" +
                "body\n" +
                "{\n" +
                "word-break: break-all;\n" +
                "word-break: break-word\n" +
                "}\n"+
                "p\n" +
                "{\n" +
                "font-family: 'Noto Sans', sans-serif;\n" +
                "text-align: left;\n" +
                "line-height:1.6;\n" +
                "font-size:15px;\n" +
                "}\n" +
                "a{\n" +
                "    text-decoration: none;\n" +
                "}\n" +
                "blockquote{\n" +
                "    font-size: 14px;\n" +
                "    border-left:2px outset blue;\n" +
                "    padding: 1px 10px 1px 10px;\n" +
                "    margin-left:0;\n" +
                "    margin-right:0;\n" +
                "}\n" +
                "\n" +
                "\n" +
                "blockquote p\n" +
                "{\n" +
                "font-family: 'Noto Sans KR', sans-serif;\n" +
                "font-weight:800;\n" +
                "text-align:left;\n" +
                "line-height:1.3;\n" +
                "}\n" +
                "blockquote p a\n" +
                "{\n" +
                "    color:rgba(5,172,233);\n" +
                "}\n" +
                "h4\n" +
                "{\n" +
                "    font-size:17px;\n" +
                "    font-family: 'Noto Sans KR', sans-serif;\n" +
                "}\n" +
                "img\n" +
                "{\n" +
                "    width:100%;\n" +
                "    height:200px;\n" +
                "    margin-left: auto;\n" +
                "    margin-right: auto;\n" +
                "    border-radius: 15px;\n" +
                "    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);\n" +
                "    margin-bottom:3px;\n" +
                "}\n" +
                "figure\n" +
                "{\n" +
                "    margin-left:0px;\n" +
                "    display: block;\n" +
                "    width:100%;\n" +
                "}\n" +
                "figcaption\n" +
                "{\n" +
                "    text-align: center;\n" +
                "    margin-top: 5px;\n" +
                "    font-size: 12px;\n" +
                "    color: rgb(53, 49, 49);\n" +
                "}\n" +
                "p .link_tidak_aktif{\n" +
                "    color: rgb(46, 46, 173);\n" +
                "}\n" +
                "body{\n" +
                "    background-color:rgb(250,250,250);\n" +
                "}\n" +
                "</style>